* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #faf7f2;
    color: #333;
}

/* HERO */
.hero {
    background-color: #f2e8d5;
    text-align: center;
    padding: 60px 20px;
}

.hero img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid #c47a3c;
}   

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* BOTÃO */
.btn {
    display: inline-block;
    background-color: #c47a3c;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn:hover {
    background-color: #a86430;
}

/* CONTEÚDO */
main {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
    color: #c47a3c;
}

/* CARDÁPIO */
ul {
    list-style: none;
}

ul li {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #f2c48d;
    text-decoration: none;
}
.insta-link {
    display: inline-block;
    margin-top: 10px;
    color: #f2c48d;
    font-weight: bold;
    text-decoration: none;
}

.insta-link:hover {
    color: #c47a3c;
    text-decoration: underline;
}
